/* Elements */

* {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0 0;
    font-size: 1.5em;
}

#title {
    height: 80px;
    background-color: rgb(255, 255, 255);
    width: 300px;
    position: relative;
    padding: 0 0 20px 0;
}

.logo {
    width: 64px;
    vertical-align: middle;
}


/* Generics */

.inb {
    display: inline-block;
}

.getColor {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
}

.vertcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}